<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicles Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1>Admin Panel</h1>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.list_all')}}">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.add')}}">Add Vehicles</a>
        </li>
    </ul>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>